/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  color: #2c3e50;
}

.App {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-bar input {
  width: 50%;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-bar input::placeholder {
  color: #999;
}

/* Instruction Message */
.instruction-message {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;

}

/* Movie Gallery */
.movie-gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 20px;
  gap: 20px; 
}

.movie-gallery-item {
  margin: 10px;
  flex: 0 0 150px; 
  text-align: center;
  position: relative;
  cursor: pointer; 
}

.movie-gallery-poster {
  width: 100%; 
  height: auto;
  border-radius: 10px; 
  transition: transform 0.2s, box-shadow 0.2s; 
}

.movie-gallery-poster:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}


.movie-poster:hover {
  transform: scale(1.1); 
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-gallery.grid {
  display: grid; 
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
  gap: 15px; 
}

/* Recommendations List */
ul.recommendations-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

ul.recommendations-list li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s; 
}

ul.recommendations-list li:hover {
  background-color: #f1c40f; 
}

ul.recommendations-list li strong {
  color: #e74c3c;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #34495e;
}

/* MovieCarousel*/

.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  overflow: hidden;
  width: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.movie-list {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.movie-item {
  flex: 0 0 20%; 
  margin: 0 5px;
  cursor: pointer;
  opacity: 0.5; 
  transform: scale(0.8); 
  transition: transform 0.3s, opacity 0.3s; 
}

.highlighted {
  opacity: 1;
  transform: scale(1); 
  border: 2px solid #ff9900;
}

.movie-poster {
  width: 100%;
  border-radius: 5px;
}

.carousel-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 3;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}

