/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #e3f2fd; /* Pastel blue background */
  color: #333;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  color: #1e88e5; /* Darker pastel blue */
  text-shadow: 1px 1px 2px #90caf9; /* Light blue shadow */
}

.App {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #ffffff; /* White background for contrast */
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-bar input {
  width: 50%;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: 2px solid #90caf9; /* Light pastel blue border */
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #bbdefb; /* Light blue background */
  color: #1e88e5;
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: #1e88e5; /* Darker pastel blue border on focus */
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-bar input::placeholder {
  color: #64b5f6; /* Light blue placeholder */
}

/* Instruction Message */
.instruction-message {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;
  color: #1e88e5;
}

/* Movie Gallery */
.movie-gallery {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  padding: 20px;
  gap: 20px; 
}

.movie-gallery-item {
  margin: 10px;
  flex: 0 0 150px; 
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  border-radius: 10px;
}

.movie-gallery-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.movie-gallery-poster {
  width: 100%; 
  height: auto;
  border-radius: 10px; 
}

.no-poster {
  width: 100%;
  height: auto;
  background-color: #90caf9; /* Light blue background for no poster */
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #1e88e5;
  padding: 20px;
}

/* Recommendations List */
ul.recommendations-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

ul.recommendations-list li {
  background-color: #bbdefb; /* Light blue background */
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s;
}

ul.recommendations-list li:hover {
  background-color: #64b5f6; /* Darker blue on hover */
}

ul.recommendations-list li strong {
  color: #1e88e5; /* Darker pastel blue */
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #1e88e5;
}

/* MovieCarousel */
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  overflow: hidden;
  width: 70%; 
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.movie-list {
  display: flex;
  transition: transform 0.5s ease-in-out; 
}

.movie-item {
  flex: 0 0 auto; 
  margin: 0 2px; 
  cursor: pointer;
  transform: scale(0.85); 
  transition: transform 0.3s, opacity 0.3s; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie-item:hover {
  transform: scale(1);
}

.movie-item p {
  white-space: normal;
  word-wrap: break-word;
  max-width: 150px; 
  font-size: 0.9rem; 
  line-height: 1.2; 
  margin-top: 5px; 
  text-align: center; 
  color: #1e88e5;
}

.movie-poster {
  width: 100%;
  border-radius: 5px;
  max-width: 150px; 
  max-height: 225px; 
}

.carousel-button {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 3;
  transition: background-color 0.3s;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}
