/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-top: 20px;
  color: #2c3e50;
}

.App {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Search Bar Styling */
.search-bar {
  display: flex;
  justify-content: center;
  margin: 30px 0;
}

.search-bar input {
  width: 50%;
  padding: 10px 15px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.search-bar input:focus {
  border-color: #3498db;
  outline: none;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.search-bar input::placeholder {
  color: #999;
}

/* Instruction Message */
.instruction-message {
  text-align: center;
  font-size: 1.5rem;
  margin: 20px 0;

}

/* Movie Gallery */
.movie-gallery {
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap onto the next line */
  justify-content: center; /* Centers the items */
  padding: 20px;
  gap: 20px; /* Adds spacing between items */
}

.movie-item {
  margin: 10px;
  flex: 0 0 150px; /* Fixed size for items */
  text-align: center;
  position: relative; /* For hover effect */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.movie-poster {
  width: 100%; /* Full width of the item */
  height: auto;
  border-radius: 10px; /* Slightly larger border radius for a softer look */
  transition: transform 0.2s, box-shadow 0.2s; /* Adding shadow effect */
}

.movie-poster:hover {
  transform: scale(1.1); /* Slightly larger scale */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

/* When search term is present, apply grid styles */
.movie-gallery.grid {
  display: grid; /* Changes to grid layout */
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Responsive grid */
  gap: 15px; /* Adds spacing between items */
}

/* Recommendations List */
ul.recommendations-list {
  list-style-type: none;
  padding: 0;
  margin-top: 30px;
  text-align: center;
}

ul.recommendations-list li {
  background-color: #fff;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: background-color 0.2s; /* Adding transition */
}

ul.recommendations-list li:hover {
  background-color: #f1c40f; /* Change color on hover */
}

ul.recommendations-list li strong {
  color: #e74c3c;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-top: 40px;
  color: #34495e;
}
